.vacation__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  transition: 0.6s;
  // transition-delay: 0.6s;
  @media (max-width: 1050px) {
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }
}

.vacation__title {
  margin: 0;
  max-width: 380px;
  @media (max-width: 1050px) {
    max-width: 1000px;
    margin-bottom: 10px;
    text-align: center;
  }
  @media (max-width: 600px) {
    margin-bottom: 5px;
  }
}

.vacation__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: justify;
  color: $black;
  max-width: 550px;
  margin: 0 0 10px;
  @media (max-width: 1050px) {
    max-width: 800px;
  }
  @media (max-width: 600px) {
    font-size: 15px;
  }
  @media (max-width: 450px) {
    font-size: 14px;
  }
}

.vacation__link {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: #8c001a;
  display: block;
}
